{% extends 'base.html' %}

{% block content %}
<h1>Members</h1>

<p class="btn--wrapper">
    <a class="btn btn--action" href="/member/new">New member</a>
  </p>

<table>
  <tr>
    <th>Name</th>
  
  </tr>
  {% for member in members %}
  <tr>
    <td><a href="/member/{{ member.id }}"> {{member.name}} </a></td>
    <td>
        <form action="/member/{{ member.id }}/update">
            <input type="submit" value="Edit" />
        </form>
        </td>
    <td>
        <form class="delete-form" action="/member/{{member.id}}/delete" method="post">
                    <button>Delete</button>
                </form>
    </td>

  </tr>
  {% endfor %}
</table>

{% endblock %}