body, html {
        height: 100%;
      }
body {
    background: url('/static/images/gymbackground.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f97474;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
  }
  
  h1 {
    font-family: 'Special Elite', cursive;
  }
  
  h3, h4, h5, h6 {
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    font-size: 3em;
    color: #cecece;
    margin-bottom: 20px;
  }

  h2 {
    font-family: 'Special Elite', cursive;
  }


  
  a, a:link, a:visited {
    color: #d2d2d2;
    text-decoration: none;
  }
  
  a:hover, a:active, a:focus {
    color: #ffffff;
  }
  
  nav {
    padding: 0px;
    margin: 0px;
    padding-right: 25px;
  }
  
  nav ul li {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  
  main {
    padding: 25px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex--row {
    flex-direction: row;
  }
  
  #content {
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 25px;
  }

  li {
    list-style-type: square
  }
