{% extends 'base.html'%}

{% block content %}
<h1>Gym Bro</h1>

    <h2>Gym bro does the heavy lifting so you don't have to!</h2>
    <h2>All gain no pain... bro!</h2>

        <p> What exactly is Gym Bro... bro?</p>

        <ul>
        <p>Gym Bro is your lifting partner when it comes to the gym, allowing you as the user to:</p>
        <li>create and edit Members</li> 
        <li>create and edit Classes/Sessions</li>
        <li>to book members on specific classes/sessions</li>
        <li>show a list of all upcoming classes</li>
        <li>show all members that are booked in for a particular class</li>
    </ul>

{% endblock %}